.box-add-cart {
	position: relative;
	border: 1px solid #DDD;
	padding: 0;
	margin: 20px 10px;
}

.box-add-cart .btn-add-cart {
	position: absolute;
	font-size: 10px;	
	height: 60px;
	width: 50%;
	opacity: 0;
	left: 50%;
	transform: translate(-50%, 0);
	border-radius: 3px;
	background-color: #FFF !important;
	border: 1px solid #FFF;
	transition: all 1s;
	font-weight: 600;
	color: #555;
}

.btn-add-cart img {
	display: block;
  padding-top: 10px;
  margin-left: 40%;
}

.box-add-cart:hover .btn-add-cart {
	opacity: 0.8;
	top: 50%;
	transform: translate(-50%, -50%);
}


.price-cart {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.price-cart p span{
	padding-left: 5px;
	color: #AAA;
	font-size: 90%;
  font-style: italic;
  text-decoration: line-through;
}

/* tab component*/
.tab-list {
	display: flex;
	flex-direction: row;
	justify-content: center;
	border: none;
	margin-bottom: 30px;
	margin-top: 30px;
}

.tab-list .tab-items {
	text-transform: uppercase;
	border: none;
}

.tab-list .tab-items a {
	font-family: "Lato";
	letter-spacing: 0.2em;
	word-spacing: 4px;
	color: #AAA;
	font-size: 18px;
	border: none;
}

/* feature product */
/* .feature-product {
	text-align: center;
	text-transform: uppercase;
	font-size: 24px;
	letter-spacing: 10px;
	word-spacing: 20px;
	font-family: "Lato";
} */